<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Student Details Entry Form
        link(rel="stylesheet", href="bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="styles.css")
    body
        .conatiner
            br
            .row
                .col-md-3
                .col-md-6
                    h3 Student Details Entry Form
                    p Not all fields marked with a red star are (*) required
                    form(action="", method="POST")

                .col-md-3